<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481317847349-1ohhae67tk4qhiarjk4k3u0hd7j3ins1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481317847349-1ohhae67tk4qhiarjk4k3u0hd7j3ins1</string>
	<key>API_KEY</key>
	<string>AIzaSyB_AnUYU9jwCMnQdjaawrcxiso3eFWG23I</string>
	<key>GCM_SENDER_ID</key>
	<string>481317847349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gotApp</string>
	<key>PROJECT_ID</key>
	<string>got-real-time-database</string>
	<key>STORAGE_BUCKET</key>
	<string>got-real-time-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481317847349:ios:7a3085e2536319cc838c7c</string>
	<key>DATABASE_URL</key>
	<string>https://got-real-time-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>